<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/gardaland-estreme.jpg" class="d-block mx-lg-auto img-fluid" alt="Gardaland estreme"
                width="700" height="500">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Concediti un po' di divertimento</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius accusantium ab alias laborum
                sit nemo. Dolores sunt iste perferendis odit possimus temporibus culpa, obcaecati dolor expedita, vero
                modi quia odio?</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Prenota subito</button>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Suggeriti</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('../../assets/gardaland-bambini.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Cartaland</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <span class="float-right badge bg-dark rounded-pill">Moderate</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('../../assets/mirabilandia.jpg'); size: 50%;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mirabollandia</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <span class="float-right badge bg-dark rounded-pill">Per bambini</span>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <span class="float-right badge bg-dark rounded-pill">Moderate</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('../../assets/fuori-di-testa.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Fuori di Testa</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <span class="float-right badge bg-dark rounded-pill">Estreme</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>